@charset "UTF-8";
/* home页样式 */
body {
  width: 100%;
  background: #eee;
  font-size: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutus-container {
  width: 80%;
  height: auto;
  background: #333;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 5px;
}

.aboutus-container > a {
  color: #ccc;
  text-decoration: none;
  display: block;
  padding: 10px;
  background: #666;
  border-radius: 10px;
  margin: 10px 0;
}
